# This is the DEV version of the all-in-one compose file.
# The overrides the build context so that it uses the local sources
# to build an image rather than the published image.

version: "3.0"

networks:
  pulumi-self-hosted-installers:
    # Setting external to true will prevent docker-compose from creating the
    # network if it doesn't exist already.
    external: true

  pulumi-services:

services:

  api:
    ports:
      - 8080:8080
    image: "pulumi/service:scratch"
    build:
      context: ../../../
      dockerfile: ./cmd/service/Dockerfile

  console:
    ports:
      - 3000:3000
    image: "pulumi/console:scratch"
    build:
      context: ../../../cmd/console
      args:
        - SKIP_PULUMI_CONSOLE_DOCKER_BUILD

  migration:
    image: "pulumi/migrations:scratch"
    build:
      context: ../../../
      dockerfile: ./migrations/Dockerfile
