networks:
  pulumi-self-hosted-installers:
    # Setting external to true will prevent docker-compose from creating the
    # network if it doesn't exist already.
    external: true

  pulumi-services:

services:

  opensearch:
    image: opensearchproject/opensearch:2.11.1
    container_name: search
    ulimits:
      memlock:
        soft: -1 # Set memlock to unlimited (no soft or hard limit)
        hard: -1
      nofile:
        soft: 65536 # Maximum number of open files for the opensearch user - set to at least 65536
        hard: 65536
    volumes:
      - $PULUMI_DATA_PATH/opensearch/data:$PULUMI_DATA_PATH/opensearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
      - "9600:9600"
    expose:
      - 9200
      - 9300
      - 9600
    env_file: ../search_vars.env
    networks:
      - pulumi-services
    healthcheck:
      test: ["CMD-SHELL", "curl -u admin:admin -f http://localhost:9200 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.11.1
    container_name: opensearch-dashboards
    ports:
      - "5601:5601"
    expose:
      - 5601
    environment:
      OPENSEARCH_HOSTS: '["http://search:9200"]'
    networks:
      - pulumi-services
    depends_on:
      opensearch:
        condition: service_healthy

  api:
    ports:
      - "8080:8080"
    image: "pulumi/service:latest"
    env_file: ../service_vars.env
    # Environment variables can be dynamically configured by setting them in your host's environment.
    # Only the keys of such environment variables must be listed below. The value part must be left
    # empty here.
    environment:
      PULUMI_LICENSE_KEY:
      PULUMI_ENTERPRISE: "true"
      PULUMI_DATABASE_NAME: "pulumi"
      # Used for SAML SSO. Endpoint must be reachable by clients either
      # locally on your company network or internet-routable.
      # If you do not have SAML SSO setup, then this setting is not used.
      PULUMI_API_DOMAIN: "localhost:8080"
      PULUMI_CONSOLE_DOMAIN: "localhost:3000"
      PULUMI_DATABASE_ENDPOINT: "${PULUMI_DATABASE_ENDPOINT}"
      # Local key (configure one)
      PULUMI_LOCAL_KEYS:
      # AWS KMS
      PULUMI_KMS_KEY:
      # Azure KeyVault
      PULUMI_AZURE_KV_URI:
      PULUMI_AZURE_KV_KEY_NAME:
      PULUMI_AZURE_KV_KEY_VERSION:
      # Email identity config for self-service password reset.
      # The site (RECAPTCHA_SITE_KEY) key counterpart for this
      # must be set in the `console` service below.
      RECAPTCHA_SECRET_KEY:
      # Checkpoint object storage (configure one)
      PULUMI_LOCAL_OBJECTS:
      PULUMI_CHECKPOINT_BLOB_STORAGE_ENDPOINT:
      # Policy pack object storage (configure one)
      PULUMI_POLICY_PACK_LOCAL_HTTP_OBJECTS:
      PULUMI_POLICY_PACK_BLOB_STORAGE_ENDPOINT:
      # AWS env vars
      AWS_REGION:
      AWS_PROFILE:
      AWS_ACCESS_KEY_ID:
      AWS_SECRET_ACCESS_KEY:
      AWS_SESSION_TOKEN:
      AWS_ROLE_ARN:
      # Add any other AWS env vars you may need to provide to this container
      # here.
      #
      # Azure env vars
      AZURE_CLIENT_ID:
      AZURE_STORAGE_ACCOUNT:
      AZURE_STORAGE_KEY:
      AZURE_CLIENT_SECRET:
      AZURE_TENANT_ID:
      AZURE_SUBSCRIPTION_ID:
      # Search env vars
      PULUMI_SEARCH_DOMAIN: http://opensearch:9200
      PULUMI_SEARCH_USER: admin
      PULUMI_SEARCH_PASSWORD: admin
    networks:
      pulumi-self-hosted-installers:
      pulumi-services:
        aliases:
          - pulumi-api
    volumes:
      - $PULUMI_LOCAL_KEYS:$PULUMI_LOCAL_KEYS
      - $PULUMI_DATA_PATH/checkpoints:$PULUMI_DATA_PATH/checkpoints
      - $PULUMI_DATA_PATH/policy_packs:$PULUMI_DATA_PATH/policy_packs
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/api/status"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    ulimits:
      nofile:
        soft: 100000
        hard: 200000
    depends_on:
      opensearch:
        condition: service_healthy
      db:
        condition: service_started
      migration:
        condition: service_completed_successfully
    restart: unless-stopped

  console:
    ports:
      - "3000:3000"
    image: "pulumi/console:latest"
    env_file: ../console_vars.env
    networks:
      - pulumi-services
    environment:
      # This value must be reachable from a client outside the container network.
      # If you have an internet routable address that resolves to the API container,
      # you may specify that here.
      PULUMI_API: "http://localhost:8080"
      # The internal endpoint that can be resolved by this service using
      # container-to-container communication.
      # If this env var is removed, then it defaults to the value of PULUMI_API.
      PULUMI_API_INTERNAL_ENDPOINT: "http://pulumi-api:8080"
      CONSOLE_DOMAIN: "http://localhost:3000"
      HOMEPAGE_DOMAIN: "http://localhost:3000"
      # OAuth configuration for social identities
      GITHUB_OAUTH_ID:
      GITHUB_OAUTH_SECRET:
      GITLAB_OAUTH_ID:
      GITLAB_OAUTH_SECRET:
      BITBUCKET_OAUTH_ID:
      BITBUCKET_OAUTH_SECRET:
      # Email identity config for self-service password reset.
      # The secret (RECAPTCHA_SECRET_KEY) key counterpart for this
      # must be set in the `api` service above.
      RECAPTCHA_SITE_KEY:
    depends_on:
      - api
    restart: unless-stopped

  db:
    image: "mysql:8.0"
    environment:
      MYSQL_DATABASE: "pulumi"
      # This is set to true because we never expose the db service outside the local network.
      MYSQL_ALLOW_EMPTY_PASSWORD: "true"
    networks:
      pulumi-self-hosted-installers:
        aliases:
          - pulumi-db
    volumes:
      - $PULUMI_DATA_PATH:/var/lib/pulumi-mysql
    restart: unless-stopped

  migration:
    image: "pulumi/migrations:latest"
    environment:
      PULUMI_DATABASE_ENDPOINT: "${PULUMI_DATABASE_ENDPOINT}"
    networks:
      - pulumi-self-hosted-installers
    restart: on-failure
    depends_on:
      db:
        condition: service_started

