region: us-west-2
licenseFilePath: pulumi-selfhosted-company.license
route53Zone: example.com
route53Subdomain: pulumi
imageTag: 20201208-13347-signed

# Optional SMTP Settings
smtpServer: smtp.example.com:587
smtpUsername: johndoe
smtpPassword: abcdefghi
smtpGenericSender: sender@domain.com

# Optional SAML SSO Settings
# Defaults to false if not set
samlSsoEnabled: false

# Optional Email Sign-up and Login Settings
# See: https://www.pulumi.com/docs/guides/self-hosted/console/#email-identity
consoleHideEmailSignup: false # false = makes email signup available on console; true = hides email sign up option on console
consoleHideEmailLogin: false  # false = allows email login on console; true = hides email login on console 
# See: https://www.pulumi.com/docs/guides/self-hosted/api/#other-env-vars
apiDisableEmailSignup: false # false = service api allows email signup; true = service api disallows email signup.
apiDisableEmailLogin: false # false = service api allows email login; true = service api disabllows email signup. 

# overrides for 01-cluster-configuration
clusterConfig:
  stackName: prod-pulumi-selfhosted-01-cluster-configuration
  clusterVersion:
    value: "1.21"

# overrides for 02-cluster-services
clusterServicesConfig:
  stackName: prod-pulumi-selfhosted-02-cluster-services
  dbReplicas:
    value: 1
  dbInstanceType:
    value: db.t3.medium

# overrides for 03-apps
appsConfig:
  stackName: prod-pulumi-selfhosted-03-apps
  apiReplicas:
    value: 1
  consoleReplicas:
    value: 1
