on:
  pull_request:

name: PR test

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Remove override files
        run: |
          # Remove the override files before testing.
          # They are used to test the latest sources
          # in the `pulumi-service` PR builds.
          rm *.override.yml
          rm -r **/*.override.yml

      - name: Login to Docker Hub as pulumi-bot
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - uses: ./.github/actions/run-self-hosted
        timeout-minutes: 2
        env:
          # When regenerating the license, create a restricted license.
          # That is, create a license that has a max unit of just 1 unless
          # otherwise required.
          PULUMI_LICENSE_KEY: ${{ secrets.PULUMI_LICENSE_KEY }}
        with:
          compose-args: '-f ./all-in-one/docker-compose.yml'

      - name: Upload service log as artifact
        uses: actions/upload-artifact@v1.0.0
        if: ${{ always() }}
        with:
          name: service-log
          path: ${{ env.SERVICE_LOG }}

