permissions: write-all # Equivalent to default permissions plus id-token: write
env:
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: github-secrets/pulumi-pulumi-self-hosted-installers
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: false
on:
  pull_request: null
name: PR test

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@6cf9520e68354d86f81c455e8d43eabd58f5c9f5 # v1
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Login to Docker Hub as pulumi-bot
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ steps.esc-secrets.outputs.DOCKERHUB_USERNAME }}
          password: ${{ steps.esc-secrets.outputs.DOCKERHUB_PASSWORD }}

      - uses: ./.github/actions/run-self-hosted
        timeout-minutes: 2
        env:
          # When regenerating the license, create a restricted license.
          # That is, create a license that has a max unit of just 1 unless
          # otherwise required.
          PULUMI_LICENSE_KEY: ${{ steps.esc-secrets.outputs.PULUMI_LICENSE_KEY }}
        with:
          compose-args: '-f ./quickstart-docker-compose/all-in-one/docker-compose.yml'

      - name: Upload service log as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
        if: ${{ always() }}
        with:
          name: service-log
          path: ${{ env.SERVICE_LOG }}
          overwrite: true
